In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/home/rohandoshi21/Development/College/PICT-TE-SEM6/DSBDAL/datasets/nba.csv')
df

In [ ]:
df.dropna()

In [ ]:
df.groupby(['Team'])['Weight'].mean()

In [ ]:
df['Team'].value_counts()

In [ ]:
df.groupby(['Age', 'Salary']).describe()

In [ ]:
bins = [0, 20, 30, 40, 50, 100]
labels = ['>20','20-30', '30-40', '40-50', '<50']
df['Age Group'] = pd.cut(x=df['Age'], bins=bins, labels=labels)
df

In [ ]:
df.groupby(['Age Group']).describe()